:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-gray-blue);
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
}

.card {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 20px;
  width: min(38rem, 80%);
  height: 80%;
}

/* make 1st and last card-child selectors to set border radius */

.image-container {
  border-radius: 20px 20px 0 0;
  height: min(30vh, 300px);
  width: 100%;
  background-image: url(../images/drawers.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card {
    display: flex;
    flex-direction: row;
    height: auto;
    width: min(50rem, 80%);
  }

  .image-container {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 20px 0 0 20px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
