.post-container {
  padding: 2rem;
  padding-bottom: 0.5rem;
  h2 {
    font-weight: 700;
    color: var(--dark-gray-blue);
  }
  p {
    color: var(--dark-gray-blue);
    line-height: 1.5rem;
  }
}

.profile-activeShare-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0 0 20px 20px;
}

button {
  box-sizing: border-box;
  z-index: 1;
  padding: 0;
  margin-left: auto;
  border-radius: 50%;
  border: none;
  background-color: var(--light-gray-blue);
  width: 2rem;
  height: 2rem;
  :hover {
    cursor: pointer;
  }
}

.active-bg-color {
  background-color: var(--gray-blue);
  img {
    filter: brightness(0) invert(1);
  }
}

@media only screen and (min-width: 992px) {
  .post-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
