.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 58px;
}

.profile-picture {
  border-radius: 50%;
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.username,
.posted-date {
  margin: 0;
}

.username {
  color: var(--dark-gray-blue);
  font-weight: 700;
}

.posted-date {
  color: var(--gray-blue);
}
